<style>
</style>
<template>
  <div>
    <ul>
      <li v-for="medic in medics">{{ medic.name }}</li>
    </ul>
  </div>
</template>

<script>
  import { getMedics } from '../../../services/medics'
  export default {
    data () {
      return {
        medics: []
      }
    },
    methods: {
      fetchUsers () {
        let self = this
        getMedics().then(response => {
          self.medics = response
        })
      }
    },
    mounted () {
      setTimeout(() => {
        this.fetchUsers()
      }, 2000)
    }
  }
</script>
