@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "grid.css";

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-size:16px;
}
