<template>
  <div>
    <button :disabled="!hasUser" @click="mudarDados()">Mudar Dados</button></div>
</template>
<script>
  import { mapActions } from 'vuex'
  export default {
    methods: {
      mudarDados () {
        const payload = {
          cps: 'Oy',
          name: 'Oiii',
          endereco: 'Rua fulano'
        }
        this.changeMedic(payload)
      },
      ...mapActions(['changeMedic'])
    },
    computed: {
      hasUser () {
        return this.$store.state.medic.name !== ''
      }
    }
  }
</script>
