<template>
  <header>
    <div class="container">
      <h1>MIRAhealth um aplicativo para clinicas</h1>
      <Button type="success" size="large" @click="handleSubmit('formTop')">Experimente de Graça!</Button>
    </div>
  </header>
</template>

<script>
  export default {
    data () {
      return {
      }
    }
  }
</script>

<style>

</style>
