<template>
  <div class="container">
    <div style="height: 35px;"></div>
    <Card style="width: 350px;">
      <p slot="title">Entre no painel</p>
      <Form ref="formValidate" :model="formValidate" :rules="ruleValidate">
        <Form-item label="Tipo de usuário" prop="usertype">
          <Select id="ut" v-model="formValidate.usertype" placeholder="Você é um médico ou um administrador?">
            <Option value="medico">Sou um médico</Option>
            <Option value="clinica">Sou uma clínica</Option>
          </Select>
        </Form-item>
        <Form-item label="CNPJ" prop="cnpj" v-if="this.formValidate.usertype === 'clinica'">
          <Input v-model="formValidate.cnpj" placeholder="12.345.678/0001-12"></Input>
        </Form-item>
        <Form-item label="Código do profissional" prop="cps" v-else-if="this.formValidate.usertype === 'medico'">
          <Input v-model="formValidate.cps" placeholder="CRM ou CRO"></Input>
        </Form-item>
        <Form-item label="Senha" prop="password" v-if="this.formValidate.usertype !== ''">
          <Input type="password" v-model="formValidate.password" placeholder="•••••"></Input>
        </Form-item>
        <Form-item>
          <Button type="primary"  :disabled="this.formValidate.usertype === ''" @click="handleSubmit('formValidate')">Login</Button>
          <Button type="ghost"  style="margin-left: 8px" v-if="this.formValidate.usertype !== ''">Resetar</Button>
        </Form-item>
      </Form>
    </Card>
    <div style="height: 35px;"></div>
  </div>
</template>
<script>
  import {mapActions} from 'vuex'
  export default {
    data () {
      return {
        formValidate: {
          cnpj: '',
          cps: '',
          password: '',
          usertype: ''
        },
        ruleValidate: {
          cnpj: [
            { required: true, message: 'Digite o CNPJ', trigger: 'blur' }
          ],
          cps: [
            { required: true, message: 'Digite seu codigo de profissional', trigger: 'blur' }
          ],
          usertype: [
            { required: true, message: 'Selecione o tipo de usuário', trigger: 'change' }
          ],
          password: [
            { required: true, message: 'Digite sua senha', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleSubmit (name) {
        this.$refs[name].validate((valid) => {
          if (valid) {
            this.login(this.formValidate)
              .then(response => {
                if (response.status === 200) {
                  this.$Message.success(response.data.message)
                }
              })
              .catch(error => {
                console.log(error.response)
                this.$Message.error(error.response.data.message)
              })
          } else {
            this.$Message.error('foram encontrados erros no formulário!')
          }
        })
      },
      handleReset (name) {
        this.$refs[name].resetFields()
      },
      ...mapActions(['login'])
    }
  }
</script>
