<template>
  <div class="layout-header">
    <div class="container">
      <div class="layout-logo"><router-link to="/"><b>MIRA</b>health</router-link></div>
      <div class="layout-ceiling-main">
        <ul>
          <router-link v-if="!isLoggedIn" tag="li" to="sign-in"><a>Login</a></router-link>
          <router-link v-if="!isLoggedIn" tag="li" to="sign-up"><a>Cadastre-se</a></router-link>
          <li v-if="isLoggedIn" @click="handleLogout"><a>Logout</a></li>
          <li><Button type="primary">Baixe o App do Paciente</Button></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapActions, mapState} from 'vuex'

  export default {
    methods: {
      handleLogout () {
        this.logout()
      }
    },
    computed: {
      ...mapState({
        isLoggedIn: state => state.isLoggedIn
      }),
      ...mapActions(['logout'])
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .layout-header {
    padding:10px;
  }
  .layout-ceiling-main{
    float: right;
    margin-right: 15px;
    display: inline-block;
  }
  .layout-ceiling-main ul {
    padding:10px;
  }
  .layout-ceiling-main ul li {
    display: inline-block;
    margin: 0 15px;
  }
  .layout-ceiling-main ul li a {
    text-decoration: none;
    color: #000;
    font: 300 .85rem Lato;
    opacity: .8;
  }
  .layout-logo {
    display: inline-block;
    padding: 10px;
    font-size: 1.175rem;
  }
  .layout-logo a {
    text-decoration: none;
    color: #000;
  }
</style>
