<style scoped>
  .layout{
    background: #f5f7f9;
  }
  .layout-breadcrumb{
    padding: 10px 15px 0;
  }
  .layout-content{
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
  }
  .layout-content-main{
    padding: 10px;
  }
  .layout-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
  }
  .layout-menu-left{
    background: #464c5b;
  }
  .layout-header{
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
  .layout-ceiling-main a{
    color: #9ba7b5;
  }
  .layout-hide-text .layout-text{
    display: none;
  }
  .layout-text a {
    color: rgb(158, 167, 180) !important;
  }
</style>
<template>
  <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
    <Row type="flex">
      <i-col :span="spanLeft" class="layout-menu-left">
        <Menu theme="dark" width="auto">
          <Menu-item name="1">
            <router-link to="create" tag="li">
              <Icon type="plus" :size="iconSize"></Icon>
              <a class="layout-text">Cadastrar Usuário</a>
            </router-link>
          </Menu-item>
          <Menu-item name="2">
            <router-link to="prescriptions" tag="li">
              <Icon type="person-stalker" :size="iconSize"></Icon>
              <a class="layout-text"><span>Usuários</span></a>
            </router-link>
          </Menu-item>
          <Menu-item name="3">
            <router-link to="medics" tag="li">
              <Icon type="ios-medkit" :size="iconSize"></Icon>
              <a class="layout-text">Médicos</a>
            </router-link>
          </Menu-item>
        </Menu>
      </i-col>
      <i-col :span="spanRight">
        <div class="layout-header">
          <i-button type="text" @click="toggleClick">
            <Icon type="navicon" size="32"></Icon>
          </i-button>
        </div>
        <div class="layout-content">
          <div class="layout-content-main">
            <router-view></router-view>
          </div>
        </div>
        <div class="layout-copy">
          2017 &copy; <b>MIRA</b>health
        </div>
      </i-col>
    </Row>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        spanLeft: 5,
        spanRight: 19
      }
    },
    computed: {
      iconSize () {
        return this.spanLeft === 5 ? 14 : 24
      }
    },
    methods: {
      toggleClick () {
        if (this.spanLeft === 5) {
          this.spanLeft = 2
          this.spanRight = 22
        } else {
          this.spanLeft = 5
          this.spanRight = 19
        }
      }
    }
  }
</script>
