<style scoped>
  h1 {
    color: #000;
  }
</style>
<template>
  <h1>Prescrições</h1>
</template>

<script>
  export default {
    name: 'prescriptions',
    data () {
      return {
      }
    }
  }
</script>
