<style scoped>
  .register-form {
    max-width: 480px !important;
  }
</style>
<template>
  <div class="container">
    <div style="height: 35px"></div>
    <Card style="width: 350px">
      <p slot="title">Faça seu cadastro agora</p>
      <Form ref="formTop" :model="formTop" :rules="ruleCustom">
        <Form-item label="Nome da clínica" prop="name">
        <Input type="text" v-model="formTop.name" placeholder="Clínica" number></Input>
      </Form-item>
        <Form-item label="E-mail" prop="email">
          <Input type="e-mail" v-model="formTop.email" placeholder="ricardo@mira.com" number></Input>
        </Form-item>
        <Form-item label="CNPJ" prop="cnpj">
        <Input type="text" v-model="formTop.cnpj" placeholder="12.345.678/0001-12" number></Input>
      </Form-item>
        <Form-item label="Senha" prop="password">
          <Input type="password" v-model="formTop.password" placeholder="•••••"></Input>
        </Form-item>
        <Form-item label="Confirme a senha" prop="passwdCheck">
          <Input type="password" v-model="formTop.passwdCheck" placeholder="•••••"></Input>
        </Form-item>
        <Form-item>
          <Button type="primary" @click="handleSubmit('formTop')">Cadastre-se de graça</Button>
          <Button type="ghost" @click="handleReset('formTop')" style="margin-left: 8px">Resetar campos</Button>
        </Form-item>
      </Form>
    </Card>
    <div style="height: 35px"></div>
  </div>

</template>
<script>
  import {mapActions} from 'vuex'
  export default {
    data () {
      const validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Digite uma senha'))
        } else {
          if (this.formTop.passwdCheck !== '') {
            // The second password box is verified separately
            this.$refs.formTop.validateField('passwdCheck')
          }
          callback()
        }
      }
      const validatePassCheck = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Digite sua senha novamente'))
        } else if (value !== this.formTop.password) {
          callback(new Error('As senhas não conferem!'))
        } else {
          callback()
        }
      }
      const validateCnpj = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('Digite seu CNPJ'))
        }
        // Simulate the asynchronous validation effect
        setTimeout(() => {
          if (!Number.isInteger(value)) {
            callback(new Error('Digite somente números'))
          } else {
            if (value < 18) {
              callback(new Error('@todo validar cnpj'))
            } else {
              callback()
            }
          }
        }, 1000)
      }

      return {
        formTop: {
          name: '',
          email: '',
          cnpj: '',
          passwdCheck: '',
          password: ''
        },
        ruleCustom: {
          password: [
            { validator: validatePass, required: true, trigger: 'blur' }
          ],
          passwdCheck: [
            { validator: validatePassCheck, required: true, trigger: 'blur' }
          ],
          name: [
            { required: true, message: 'Você precisa nos informar seu nome!', trigger: 'blur' }
          ],
          email: [
            { required: true, message: 'Digite seu email', trigger: 'blur' },
            { type: 'email', message: 'Digite um email válido', trigger: 'blur' }
          ],
          cnpj: [
            { validator: validateCnpj, required: true, trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleSubmit (name) {
        this.$refs[name].validate((valid) => {
          if (valid) {
            this.register(this.formTop)
              .then(response => {
                if (response.status === 200) {
                  this.$Message.success(response.data.message)
                }
              })
              .catch(error => {
                console.log(error.response)
                this.$Message.error(error.response.data.message)
              })
          } else {
            this.$Message.error('foram encontrados erros no formulário!')
          }
        })
      },
      handleReset (name) {
        this.$refs[name].resetFields()
      },
      ...mapActions(['register'])
    }
  }
</script>
