<template>
  <Form :model="formItem">
    <Row>
      <Col span="5">
        <Form-item label="Tipo de usuário">
          <Select v-model="formItem.usertype" placeholder="Médico ou Paciente?">
            <Option value="medico">Médico</Option>
            <Option value="paciente">Paciente</Option>
          </Select>
        </Form-item>
      </Col>
      <Col span="1"> - </Col>
      <Col span="5">
        <Form-item label="CPS" v-if="formItem.usertype === 'medico'">
          <Input v-model="formItem.cps" type="text" placeholder="CRM ou CRO"></Input>
        </Form-item>
        <Form-item label="CPF" v-if="formItem.usertype === 'paciente'">
          <Input v-model="formItem.cpf" type="text" placeholder="123.456.789-10"></Input>
        </Form-item>
      </Col>
    </Row>
    <Row>
      <Col span="5">
        <Form-item label="Nome">
          <Input v-model="formItem.name" placeholder="José Freitas"></Input>
        </Form-item>
      </Col>
    </Row>
    <Row>
      <Col span="5">
      <Form-item label="Endereço">
        <Input v-model="formItem.address" placeholder="Endereço"></Input>
      </Form-item>
      </Col>
    </Row>
    <Form-item>
      <Button type="primary" @click="registerUser">Cadastrar</Button>
      <Button type="ghost" style="margin-left: 8px">Resetar</Button>
    </Form-item>
  </Form>
</template>
<script>
  import { createMedic } from '../../../services/medics'
  export default {
    data () {
      return {
        formItem: {
          usertype: '',
          cps: '',
          cpf: '',
          name: '',
          address: '',
          password: '123'
        }
      }
    },
    methods: {
      registerUser () {
        createMedic(this.formItem)
      }
    }
  }
</script>
