  <template>
    <div id="app" class="layout">
      <navbar></navbar>
      <div class="layout-content">
        <router-view></router-view>
      </div>
    </div>

  </template>
  <script>
    import navbar from '@/components/Nav'

    export default {
      components: {
        navbar
      }
    }
  </script>

  <style>
    .layout-content {
      position: relative;
      width: 100%;
      overflow-y: hidden;
      background: url(./assets/bg-pattern.png),#2586D2;
      background: url(./assets/bg-pattern.png),-webkit-linear-gradient(to left,#2586D2,#2DB6FE);
      background: url(./assets/bg-pattern.png),linear-gradient(to left,#2586D2,#2DB6FE);
      color: #fff;
    }
    .layout{
      position: relative;
      overflow: hidden;
      margin: 0 auto;
    }
  </style>
